/* Estilos Globais */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Cabeçalho e Menu de Navegação */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #444;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

.formacao{
    margin-left: 150px;
}

.formacao h3{
    font-size: 24px;
    margin-bottom: 10px;
}

/* Estilos do Conteúdo Principal */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    background: linear-gradient(to bottom right, #f0f0f0, #d4d4d4);
}

main h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #444;
}

main p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
}

/* Formulário de Contato */
form {
    max-width: 600px;
    margin: 20px auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

form input, form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f9f9f9;
}

form button {
    background-color: #333;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #555;
}

/* Rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: auto;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

/* Botões de Portfólio */
.buttons-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    color: #fff;
    text-align: center;
    display: inline-block;
}

.behance-btn {
    background-color: #1769ff;
}

.behance-btn:hover {
    background-color: #0a56d2;
}

.github-btn {
    background-color: #333;
}

.github-btn:hover {
    background-color: #555;
}


/* Estilo Responsivo */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    main h2 {
        font-size: 2rem;
    }

    main p {
        font-size: 1rem;
    }

    form {
        width: 90%;
        padding: 20px;
    }
}
